In [ ]:
import dateutil.parser
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy import select
import matplotlib.pyplot as plt
from matplotlib import cbook, dates
#from matplotlib.ticker import Formatter
import mplcursors
# %matplotlib widget
# this gives seperate window qt widget for figures
%matplotlib qt5 
eng = create_engine("mysql://rfile:simple@flatboy/rfile")
myconn = eng.connect()

In [21]:
# 8 days copied from 30 days
# this one working and showing the variable mystats n
#never got cursor to work so added mplcursors lib
#get data
sugeightdays = "SELECT `bsdate`,`bsugar` FROM `sugar` WHERE `bsdate` > DATE_SUB(NOW(), INTERVAL 8 DAY)" # took bsid out so only 1 interger for describe func
sugar8days = pd.read_sql_query(sugeightdays, myconn, parse_dates = "bsdate")
# start setting up figure
mylegend = "7 days stats "
mystats = sugar8days.describe(include='int')
fig3, ax3 = plt.subplots()
plt.ylim(60,150)
ax3.set_xlabel('Date')
plt.title('blood sugar last 8 days')
ax3.annotate([mystats], xy=(200, 380), xycoords='figure points')
plt.setp(ax3.get_xticklabels(), rotation = 90, fontsize=6)
#ax3.set_xticklabels(sugar8days.bsdate, rotation=90, fontsize=6)
plt.grid(b=True, which='both', axis='both', )
fig3.set_figwidth(10)
fig3.set_figheight(10)
lines = ax3.plot(sugar8days.bsdate , sugar8days.bsugar, marker='o', linestyle='dashed' )
mplcursors.cursor(lines) # or just mplcursors.cursor()
plt.show()

In [ ]:
bpsevendays = "SELECT `vsigns_bloodpressure`.`bpdate` ,`vsigns_bloodpressure`.`bpsys` AS `systolic`,`vsigns_bloodpressure`.`bpdia` AS `diastolic`,`vsigns_bloodpressure`.`bphr` AS `pulse` from  `vsigns_bloodpressure` WHERE `bpdate` > DATE_SUB(NOW(), INTERVAL 7 DAY)"
bp7days = pd.read_sql_query(bpsevendays, myconn, parse_dates = "bpdate")

In [22]:
x = np.arange(len(bp7days))  # the label locations
width = 0.35  # the width of the bars

# color picker gpick
fig , ax = plt.subplots()
rects1 = ax.bar(x - width/2, bp7days.systolic, width, label='systolic', facecolor='#00388F')
rects2 = ax.bar(x + width/2, bp7days.diastolic, width, label='diastolic', facecolor='#8F5600')
rects3 = ax.bar(x + width, bp7days.pulse, width, label='pulse', facecolor='#638F00')
ax.axhline(y=120, color='#00388F')
ax.axhline(y=80, color='#8F5600')
# Add some text for labels, title and custom x-axis tick labels, etc.
ax.set_ylabel('120/80 = perfect')
ax.set_title('Blood press 7 days')
ax.set_xticks(x)
ax.set_xticklabels(bp7days.bpdate, rotation=90, fontsize=6)
ax.legend()

ax.bar_label(rects1, label_type='center', color='#EEEED0')
ax.bar_label(rects2, label_type='center')
ax.bar_label(rects3, label_type='center')
plt.rc('xtick', labelsize=6)
fig.set_figheight(10)
mplcursors.cursor(rects3)
mplcursors.cursor(rects2)


plt.show()

In [19]:
bp7days

               bpdate  systolic  diastolic  pulse
0 2021-05-24 08:41:00       149         87     58
1 2021-05-25 07:38:00       155         92     73
2 2021-05-25 20:06:00       146         85     73
3 2021-05-26 09:12:00       135         82     68
4 2021-05-27 07:53:00       162        105     75
5 2021-05-27 21:00:00       125         82     76
6 2021-05-28 16:41:00       140         84     68
7 2021-05-29 12:36:00       126         81     70
8 2021-05-29 21:32:00       129         80     74
9 2021-05-30 20:27:00       133         82     71

In [20]:
sugar8days

                bsdate  bsugar
0  2021-05-23 08:01:00     128
1  2021-05-24 08:41:00     117
2  2021-05-24 09:14:00     113
3  2021-05-24 14:13:00     109
4  2021-05-25 07:38:00      87
5  2021-05-25 08:31:00      94
6  2021-05-25 09:37:00     122
7  2021-05-25 12:04:00     126
8  2021-05-25 20:06:00     131
9  2021-05-26 09:12:00     103
10 2021-05-26 12:23:00     111
11 2021-05-26 21:31:00      91
12 2021-05-27 07:53:00      95
13 2021-05-27 10:33:00      96
14 2021-05-27 12:17:00     130
15 2021-05-27 14:00:00     190
16 2021-05-27 19:29:00     139
17 2021-05-28 16:41:00      99
18 2021-05-28 23:00:00      91
19 2021-05-29 10:00:00      87
20 2021-05-29 12:36:00      96
21 2021-05-29 21:36:00     143
22 2021-05-30 20:30:00     155