# Weight
==========================

### Monday, May 31, 2021 6:49:14 PM EDT
-------------------------------

[Markdown ref](https://ingeh.medium.com/markdown-for-jupyter-notebooks-cheatsheet-386c05aeebed) 

Markdown reference is also built in under help.

Help will also have references for some library imports

[sqlAlchemy](https://docs.sqlalchemy.org/en/14/tutorial/engine.html)

[read in sql table](https://pythontic.com/pandas/serialization/mysql)

New scale etekcity ESF24 


google phrase that might get some parsing answers for munging on this data: 

###  dataframe columns space in name
reset increment value for wtid field in table rfile.fatty
> ALTER TABLE fatty AUTO_INCREMENT = 0 

[regular expressions cheatsheet](https://cheatography.com/davechild/cheat-sheets/regular-expressions/)

[lsp page ](https://github.com/krassowski/jupyterlab-lsp)

[regex checker](https://regex101.com/)

How do you convert a string to a float in Python?
We can convert a string to float in Python using float() function. It's a built-in function to convert an object to floating point number. Internally float() function calls specified object __float__() function.

In [1]:
# import dateutil.parser
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy import select
eng = create_engine("mysql://rfile:simple@flatboy/rfile")
myconn = eng.connect()

In [2]:
# put file name here wt5-31-2021.csv already imported
#file:///home/rfile/python3/notebooks/bpinfo/wt6-1-2021.csv
wtdata = pd.read_csv('wt6-1-2021.csv')

In [4]:
# ALTER TABLE fatty AUTO_INCREMENT = 0
# wtdata = pd.read_csv('wt5-31-2021.csv')
wtdata.columns = wtdata.columns.str.replace(' ', '_')
wtdata.columns = wtdata.columns.str.replace('-', '_')
# this one working
# store time data in var to put it back after replace statement below 
# easier than iterate through the columns
# which had to be done to get the float data
listtime = wtdata.Time = pd.to_datetime(wtdata.Time)
wtdata = wtdata.replace(to_replace="\s\D*",  value='', regex=True)  
# wtdata = pd.to_numeric(wtdata)
wtdata.Time = listtime # time back in proper format for sql import
wtdata[["Weight","Body_Fat","Fat_Free_Body_Weight","Subcutaneous_Fat","Body_Water","Muscle_Mass","Skeletal_Muscles","Bone_Mass","Protein","BMR"]] = \
    wtdata[["Weight","Body_Fat","Fat_Free_Body_Weight","Subcutaneous_Fat","Body_Water","Muscle_Mass","Skeletal_Muscles","Bone_Mass","Protein","BMR"]].apply(pd.to_numeric)
wtdata = wtdata.sort_values('Time')
wtdata.to_sql('fatty', myconn, if_exists='append', index=False)

In [ ]:
wtdata = wtdata.sort_values('Time')
wtdata.columns = wtdata.columns.str.replace(' ', '_')
wtdata.columns = wtdata.columns.str.replace('-', '_')
def fixfield(datafield, strstrp) :
    datafield = datafield.str.replace(strstrp, '')
    datafield = pd.to_numeric(datafield, errors='ignore')
    return datafield
# time stamp
wtdata.Time = pd.to_datetime(wtdata.Time)
# weight
wtdata.Weight = fixfield(wtdata.Weight, ' lb')
# BMI already float
# body fat
wtdata.Body_Fat = fixfield(wtdata.Body_Fat, ' %' )
# fat free bw
wtdata.Fat_Free_Body_Weight = fixfield(wtdata.Fat_Free_Body_Weight, ' lb')
#Subcutaneous_Fat	
wtdata.Subcutaneous_Fat	 = fixfield(wtdata.Subcutaneous_Fat, ' %')
# Visceral_Fat already float
# Body_Water  %
wtdata.Body_Water = fixfield(wtdata.Body_Water, ' %')
# Muscle_Mass  lb
wtdata.Muscle_Mass = fixfield(wtdata.Muscle_Mass, ' lb')
# Skeletal_Muscles %
wtdata.Skeletal_Muscles = fixfield(wtdata.Skeletal_Muscles, ' %' )
# Bone_Mass lb
wtdata.Bone_Mass = fixfield(wtdata.Bone_Mass, ' lb')
# Protein %
wtdata.Protein = fixfield(wtdata.Protein, ' %')
# BMR Kcal	
wtdata.BMR = fixfield(wtdata.BMR , ' Kcal')
# age is int
wtdata.Metabolic_Age =  pd.to_numeric(wtdata.Metabolic_Age, errors='ignore')

In [ ]:
wtdata.to_sql('fatty', myconn, if_exists='append', index=False)

In [5]:
wtdata

,Time,Weight,BMI,Body_Fat,Fat_Free_Body_Weight,Subcutaneous_Fat,Visceral_Fat,Body_Water,Muscle_Mass,Skeletal_Muscles,Bone_Mass,Protein,BMR,Metabolic_Age
0,2021-06-01 20:46:00,254.0,34.4,36.2,162.0,31.2,16.0,46.1,153.8,41.2,8.2,14.5,1957,77